<% unless comment.new_record? %>
  <%= turbo_frame_tag dom_id(comment, :posts) do %>
    <div class="mb-4">
      <%# body %>
      <div class="d-flex">
        <div class="me-3">
          <%= image_tag comment.user.avatar, class: "rounded-circle", width: 64, height: 64 %>
        </div>
        <div class="">
          <small class="d-block mb-2 text-muted user-select-none" style="font-size: 12px; font-weight: bold;"><%= comment.user.username %></small>
          <%= comment.body %>
          <div class="mt-2"></div>
          <small class="text-muted"><%= time_ago_in_words(comment.created_at) %></small>
          <div class="mt-2 d-flex">
            <%= render 'likes/button', likeable: comment %>
            <% if comment.owned_by current_user %>
              <div class="me-2">
                <%= button_to "delete", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-link" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>