<article>
  <h2><%= post.title %></h2>
  <div class="mb-2">
    <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
    <br>
    <small class="text-muted">Author: <%= post.user.username %></small>
  </div>
  <div>
    <%= post.body %>
  </div>
  <%= render 'likes/form', commentable: post, endpoint: post_likes_path(post) %>
</article>