<div class="row">
  <div class="col-8">
    <% @posts.each do |post| %>
      <article class="mb-5">
        <div>
          <h2 class="text-capitalize"><%= post.title %></h2>
        </div>
        <div class="mb-2">
          <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
        </div>
        <div>
          <%= truncate(post.body, length: 200, omission: " ... %s") % link_to('read more', post_path(post)) %>
        </div>
        <div class="d-flex align-items-center mt-4">
          <div class="me-4 d-flex align-items-center">
            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="14px" height="14px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" class="mt-1">
             <path fill-rule="evenodd" clip-rule="evenodd" fill="#777777" d="M60,0H4C1.789,0,0,1.789,0,4v40c0,2.211,1.789,4,4,4h8v12
              c0,1.617,0.973,3.078,2.469,3.695C14.965,63.902,15.484,64,16,64c1.039,0,2.062-0.406,2.828-1.172L33.656,48H60c2.211,0,4-1.789,4-4
              V4C64,1.789,62.211,0,60,0z"/>
            </svg>
            <div class="ms-2" style="color: #777777;">
              <%= post.comments.size %>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <svg width="16px" height="16px" viewBox="0 -0.5 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-219.000000, -760.000000)" fill="#777777">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M163,610.021159 L163,618.021159 C163,619.126159 163.93975,620.000159 165.1,620.000159 L167.199999,620.000159 L167.199999,608.000159 L165.1,608.000159 C163.93975,608.000159 163,608.916159 163,610.021159 M183.925446,611.355159 L182.100546,617.890159 C181.800246,619.131159 180.639996,620.000159 179.302297,620.000159 L169.299999,620.000159 L169.299999,608.021159 L171.104948,601.826159 C171.318098,600.509159 172.754498,599.625159 174.209798,600.157159 C175.080247,600.476159 175.599997,601.339159 175.599997,602.228159 L175.599997,607.021159 C175.599997,607.573159 176.070397,608.000159 176.649997,608.000159 L181.127196,608.000159 C182.974146,608.000159 184.340196,609.642159 183.925446,611.355159" id="like-[#1386]"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="ms-2" style="color: #777777;">
              <%= post.likes.size %>
            </div>
          </div>
        </div>
      </article>
    <% end %>
  </div>
  <div class="col-4">

  </div>
</div>
