<div class="row">
  <div class="col-12">
    <%= render @post, verbose: true %>
    <%# Comments section %>
    <div class="mt-5 text-center fs-5">
      Comments:
    </div>
    <div class="mt-3">
      <%# Form for the new comment %>
      <%= render 'comments/form', comment: @comment || Comment.new, post: @post %>
      <%# Display comments list %>
      <div class="mt-4"></div>
      <%= turbo_frame_tag dom_id(@post, "comments_list") do %>
        <%= render @post.comments.limit(10).offset(0) %>
      <% end %>
      <div data-controller="more-comments" data-more-comments-comments-list-id-value=<%= dom_id(@post, "comments_list") %>>
        <%= button_tag "More comments", class: "d-block mx-auto btn btn-link-primary", data: { action: "click->more-comments#click" } %>
      </div>
    </div>
  </div>
</div>
